<%= form_with model: park do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-2">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 5, class: "form-control" %>
  </div>
  <div class="mb-2">
    <%= f.label :zipcode, "郵便番号" %>
    <%= text_field_tag :zipcode, nil, class: "form-control" %>
  </div>
    <div class="mb-2">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="mb-2">
    <%= f.label :review %>
    <div id="review"></div>
  </div>
  <div class="mb-2">
    <%= f.label :equipment_ids, "設備" %><br>
    <%= f.collection_check_boxes :equipment_ids, Equipment.all, :id, :name do |b| %>
      <%= b.label { b.check_box + b.text } %>　
    <% end %>
  </div>
  
  <div class="text-center my-4">
    <%= f.submit submit, class: "btn btn-primary" %>
  </div>
<% end %>

<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>

<script src="https://cdn.jsdelivr.net/npm/jquery-raty-js@2.8.0/lib/jquery.raty.min.js"></script>
<script>
  $('#review').raty({
    starOff: '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHarf : '<%= asset_path('star-half.png') %>',
    scoreName: 'park[review]',
    score: <%= park.review %>
  });
</script>