<!DOCTYPE html>
<html>
  <head>
    <title>Kensui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      <%= render "layouts/navigation" %>
    </header>
    <main>
      <%= yield(:jumbotron) %>
      <div class="container mt-4">
        <%= render "layouts/flash_messages" %>
        <%= yield %>
      </div>
    </main>
  <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
